certifi
charset-normalizer
colorama
contourpy
cycler
filelock
fonttools
fsspec
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
polars-runtime-32
psutil
pyparsing
python-dateutil
PyYAML
requests
scipy
six
sympy
torch
torchvision
tqdm
typing_extensions
ultralytics
ultralytics-thop
urllib3
absl-py
amadeus
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
build
cachetools
cffi
click
cloudscraper
cmap
comm
Cython
dash
debugpy
decorator
defusedxml
Django
et_xmlfile
executing
fastjsonschema
Flask
flatbuffers
fqdn
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httpx
hub-sdk
ImageIO
imgviz
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
isoduration
itsdangerous
jedi
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
labelme
lazy-loader
libclang
loguru
Markdown
markdown-it-py
matplotlib-inline
mdurl
mistune
ml-dtypes
namex
narwhals
natsort
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
oauthlib
onnxruntime
openpyxl
opt_einsum
optree
osam
overrides
pandas
pandocfilters
parso
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
pure_eval
py-cpuinfo
pyasn1
pyasn1_modules
pycountry
pycparser
pydantic
pydantic_core
Pygments
pypdf
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
python-dotenv
python-json-logger
pytz
pywin32
pywinpty
pyzmq
referencing
regex
requests-oauthlib
requests-toolbelt
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-image
scikit-learn
seaborn
Send2Trash
sniffio
soupsieve
sqlparse
stack-data
ta
TA-Lib
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
thop
threadpoolctl
tifffile
tinycss2
tornado
traitlets
types-python-dateutil
typing-inspection
tzdata
ujson
uri-template
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
win32_setctime
wrapt
yt-dlp
zipp
